body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: right;
    font-size: 0.9em;
    padding: 0.4em;
}

.nav-item {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-size: 0.9em;
    margin-right: 1em;
}

.nav-space {
    margin-right: 0.8em;
}

.nav-item:hover, .language:hover {
    text-decoration: underline;
}

.logo {
    height: 5.9em;
}

section {
    text-align: center;
    margin-top: 7em;
}

.search-bar-container {
    width: 40%;
    height: 2.5em;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 2em;
    border-radius: 2em;
    border: 1px solid #dfe1e5;
    position: relative;
}

.search-bar {
    width: 80%;
    height: 90%;
    margin: auto;
    border: none;
    font-size: 1em;
}

.search-bar-container:hover {
    box-shadow: 0em 0em 0.3em 0em rgba(56, 56, 56, 0.2);
}

.search-bar:focus {
    outline: none;
}

.icon {
    height: 1em;
    position: absolute;
}

.lookup {
    left: 2.5%;
}

.microphone {
    right: 2.5%;
}

.button-area {
    margin-top: 2em;
    margin-bottom: 20px;
}

.google-button {
    width: 10em;
    height: 2.5em;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    font-size: 0.8em;
    margin-right: 0.9em;
    color: rgb(51, 51, 51);
}

.google-button:hover {
    border: 1px solid rgba(56, 56, 56, 0.2);
    box-shadow: 0em 0.1em 0em 0em rgba(173, 173, 173, 0.2);
}

.google-button:focus {
    border: 1px solid blue;
    outline: none;
}

.languages-offered {
    margin-top: 1.5%;
    font-size: 0.8em;
}

.languages-offered a {
    text-decoration: none;
}

.language {
    margin-left: 0.7em;
}

footer {
    background-color: rgb(241, 241, 241);
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 0.8em;
}

.location {
    font-size: 1.15em;
    padding: 1em 0 1em 2.1em;
    border-bottom: 1px solid lightgray;
    color: rgb(105, 105, 105);
}

.footer-items {
    /*display: flex;
    align-items: center;*/
    padding-left: 2.1em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

/*.footer-left {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
    padding-right: 1em;
}*/

.footer-left-items, .footer-right-items {
    margin-right: 2em;
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.footer-left-items:hover , .footer-right-items:hover {
    text-decoration: underline;
}